In [1]:
#Import library

import pandas as pd

In [16]:
#Read all Datasets
crime_cases = pd.read_csv('../data/Crime_cases_by_state.csv')
drug_addicts = pd.read_csv('../data/Drug_addicts_by_state.csv')
GDP = pd.read_csv('../data/GDP_per_capita_by_state.csv')
unemployment = pd.read_csv('../data/Unemployment_Rate_by_state.csv')

In [17]:
crime_cases[0:15]

,NEGERI,TAHUN,BUNUH,ROGOL,SAMUN BERKAWAN BERS/API,SAMUN BERKAWAN TANPA BERS/API,SAMUN BERSENJATAPI,SAMUN TANPA S/API,MENCEDERAKAN,CURI,CURI MOTOKAR,CURI MOTOSIKAL,CURI VAN/LORI/J'BERAT,CURI RAGUT,PECAH RUMAH DAN CURI
0,JOHOR,2009,74,656,87,5028,11,1374,1144,4211,1755,8825,612,99,3391
1,KEDAH,2009,33,378,46,534,8,321,539,2422,526,4958,122,540,2502
2,KELANTAN,2009,8,314,16,122,9,52,421,868,775,2841,69,391,1515
3,KUALA LUMPUR,2009,64,153,127,6156,35,942,772,7510,3138,6286,726,3341,4531
4,MELAKA,2009,12,105,1,240,1,89,294,1523,226,1520,59,232,1321
5,NEGERI SEMBILAN,2009,14,209,62,909,19,194,351,1362,266,1871,99,273,1918
6,PAHANG,2009,24,226,26,246,3,61,334,1707,234,2167,143,174,1376
7,PERAK,2009,54,254,35,1257,6,218,654,2145,689,4628,306,479,2043
8,PERLIS,2009,2,44,13,8,3,5,78,129,28,398,8,8,93
9,PULAU PINANG,2009,52,179,28,1030,6,307,559,3485,786,6185,248,1189,2765
10,SABAH,2009,69,258,0,407,0,128,480,2939,277,663,280,336,2249
11,SARAWAK,2009,50,207,11,572,1,149,604,2918,686,3036,637,485,3200
12,SELANGOR,2009,139,684,359,7127,51,979,1999,8750,4624,15528,2177,2064,10513
13,TRNGGANU,2009,6,173,4,86,2,43,141,895,212,2488,38,128,1153
14,Jumlah,2009,601,3840,815,23722,155,4862,8370,40864,14222,61394,5524,9739,38570

In [34]:
#Rename to english
crime_cases.rename(
    columns={
        "NEGERI": "State",
        "TAHUN" : "Year",
        "BUNUH": "Murder",
        "ROGOL": "Rape",
        "SAMUN BERKAWAN BERS/API": "Group Armed Robbery",
        "SAMUN BERKAWAN TANPA BERS/API" : "Group Robbery",
        "SAMUN BERSENJATAPI" : "Armed Robbery",
        "SAMUN TANPA S/API" : "Robbery",
        "MENCEDERAKAN" : "Injure",
        "CURI" : "Theft",
        "CURI MOTOKAR" : "Car Theft",
        "CURI MOTOSIKAL" : "Motorcylce Theft",
        "CURI VAN/LORI/J'BERAT" : "Van/Lorry/Heavy Vehicle Theft",
        "CURI RAGUT" : "Snatch Theft",
        "PECAH RUMAH DAN CURI" : "House Burglary",
    },
    inplace=True
)

In [35]:
crime_cases[0:15]

,Year,State,Murder,Rape,Armed Group Robbery,Group Robbery,Armed Robbery,Robbery,Injure,Theft,Car Theft,Motorcylce Theft,Van/Lorry/Heavy Vehicle Theft,Snatch Theft,House Burglary
0,2010,JOHOR,58,619,142,2713,23,648,1026,4356,1667,7812,538,84,2741
1,2010,KEDAH,24,352,103,486,20,237,492,2225,530,4698,109,411,2035
2,2010,KELANTAN,21,311,38,74,13,59,386,909,777,2776,125,295,1426
3,2010,KUALA LUMPUR,61,161,100,3931,21,933,969,6186,3482,5319,753,1897,4682
4,2010,MELAKA,9,105,7,266,1,71,263,1256,253,1875,68,122,1073
5,2010,NEGERI SEMBILAN,22,196,157,837,21,184,276,1164,308,1960,152,55,1484
6,2010,PAHANG,14,223,96,163,18,43,304,1314,247,2196,123,101,1352
7,2010,PERAK,43,293,13,1108,2,228,548,1986,660,4136,192,244,1911
8,2010,PERLIS,1,39,6,13,5,10,72,282,16,418,6,58,163
9,2010,PULAU PINANG,33,149,67,753,21,259,593,2778,464,4282,143,835,2096
10,2010,SABAH,63,243,1,378,0,127,402,2705,234,751,295,144,2337
11,2010,SARAWAK,36,197,6,458,1,90,596,2939,462,3017,554,398,3006
12,2010,SELANGOR,175,653,1048,4566,152,837,2057,7459,6084,13769,1680,1250,9739
13,2010,TRNGGANU,8,152,25,63,11,108,127,847,106,1548,36,56,1007
14,2010,Jumlah,568,3693,1809,15809,309,3834,8111,36406,15290,54557,4774,5950,35052

In [24]:
#Drop 2009
crime_cases_A = crime_cases.set_index('Year')
crime_cases_A = crime_cases_A.drop('2009').reset_index()

In [36]:
crime_cases = crime_cases_A
crime_cases[0:15]

,Year,State,Murder,Rape,Armed Group Robbery,Group Robbery,Armed Robbery,Robbery,Injure,Theft,Car Theft,Motorcylce Theft,Van/Lorry/Heavy Vehicle Theft,Snatch Theft,House Burglary
0,2010,JOHOR,58,619,142,2713,23,648,1026,4356,1667,7812,538,84,2741
1,2010,KEDAH,24,352,103,486,20,237,492,2225,530,4698,109,411,2035
2,2010,KELANTAN,21,311,38,74,13,59,386,909,777,2776,125,295,1426
3,2010,KUALA LUMPUR,61,161,100,3931,21,933,969,6186,3482,5319,753,1897,4682
4,2010,MELAKA,9,105,7,266,1,71,263,1256,253,1875,68,122,1073
5,2010,NEGERI SEMBILAN,22,196,157,837,21,184,276,1164,308,1960,152,55,1484
6,2010,PAHANG,14,223,96,163,18,43,304,1314,247,2196,123,101,1352
7,2010,PERAK,43,293,13,1108,2,228,548,1986,660,4136,192,244,1911
8,2010,PERLIS,1,39,6,13,5,10,72,282,16,418,6,58,163
9,2010,PULAU PINANG,33,149,67,753,21,259,593,2778,464,4282,143,835,2096
10,2010,SABAH,63,243,1,378,0,127,402,2705,234,751,295,144,2337
11,2010,SARAWAK,36,197,6,458,1,90,596,2939,462,3017,554,398,3006
12,2010,SELANGOR,175,653,1048,4566,152,837,2057,7459,6084,13769,1680,1250,9739
13,2010,TRNGGANU,8,152,25,63,11,108,127,847,106,1548,36,56,1007
14,2010,Jumlah,568,3693,1809,15809,309,3834,8111,36406,15290,54557,4774,5950,35052

In [40]:
# Drop Jumlah
crime_cases_B = crime_cases.set_index('State')
crime_cases_C = crime_cases_B.drop('Jumlah').reset_index()
crime_cases = crime_cases_C

In [58]:
crime_cases[0:14]
crime_cases.to_csv('crime_cases.csv', encoding='utf-8', index=False)

In [57]:
drug_addicts.rename(columns={"Tahun": "Year"}, inplace=True)
drug_addicts.drop(['JUMLAH'], axis=1)
drug_addicts.to_csv('drug_addicts.csv', encoding='utf-8', index=False)

In [2]:
drug_addicts = pd.read_csv('drug_addicts.csv')

In [3]:
drug_addicts.head()

,Year,Pulau Pinang,Selangor,Kedah,Terengganu,Kelantan,Perak,Johor,WPKL,Pahang,Negeri Sembilan,Sabah,Perlis,Melaka,Sarawak,WP Putrajaya,WP Labuan,JUMLAH
0,2010,"3,753","3,548","2,507","2,377","2,360","2,296","2,091","1,344","1,198",921,517,354,176,145,45,10,"23,642"
1,2011,"2,747","2,026","1,859","2,443","1,475","2,215","1,918","1,013","1,363",840,440,293,538,333,25,3,"19,531"
2,2012,"2,286","1,690","1,535",599,942,"1,549","1,729","1,098","1,423",816,262,337,496,312,26,1,"15,101"
3,2013,"3,043","2,226","2,702",641,895,"2,789","1,874","1,841","1,621","1,008",513,374,675,650,20,15,"20,887"
4,2014,"2,780","2,051","2,535",579,"1,399","2,716","1,992","1,698","1,903",951,940,499,845,854,16,19,"21,777"

In [9]:
da = drug_addicts.transpose()
da = da.reindex(["Johor","Kedah", "Kelantan", "WPKL", "Melaka", "Negeri Sembilan", "Pahang", "Perak", "Perlis", "Pulau Pinang", "Sarawak", "Sabah", "Selangor", "Terengganu"])
da.head()

              0      1      2      3      4      5      6
Johor     2,091  1,918  1,729  1,874  1,992  2,541  2,565
Kedah     2,507  1,859  1,535  2,702  2,535  2,945  3,862
Kelantan  2,360  1,475    942    895  1,399  1,994  3,233
WPKL      1,344  1,013  1,098  1,841  1,698  1,328  1,695
Melaka      176    538    496    675    845    944    930

In [11]:
da.to_csv('da.csv', encoding='utf-8')

In [31]:
GDP_A = GDP.drop([0,1,2,3,4], axis=0)
GDP_A

,Tahun,Johor,Kedah,Kelantan,Melaka,Negeri Sembilan,Pahang,Pulau Pinang,Perak,Perlis,Selangor,Terengganu,Sabah,Sarawak,WP Kuala Lumpur,WP Labuan,Malaysia
5,2010,22035,14034,9806,29366,29363,23883,33597,18207,17410,32300,21573,17831,35034,64693,38445,28733
6,2011,24350,15563,10894,32421,32136,27069,35527,20370,18299,34478,23282,19648,40632,70675,44044,31372
7,2012,25442,16088,11217,34965,33761,27413,37053,21711,19537,36799,23935,19487,41493,77073,49157,32913
8,2013,26308,16616,11284,35699,34118,27856,38490,22445,20196,38071,24449,18680,41766,82208,53576,33714
9,2014e,28089,17329,11748,38656,35865,29341,42130,24132,20999,40536,26397,19723,44596,90464,55566,36031
10,2015p,29539,18249,12075,39853,36699,30343,44847,25418,21394,42611,26529,19734,44012,94722,58577,37104

In [12]:
GDP = pd.read_csv('../data/GDP_per_capita_by_state.csv')
unemployment = pd.read_csv('../data/Unemployment_Rate_by_state.csv')

In [28]:
GDP_A = GDP.drop([0,1,2,3,4], axis=0)
gd = GDP_A.transpose()
gd = gd.reindex(["Johor","Kedah", "Kelantan", "WP Kuala Lumpur", "Melaka", "Negeri Sembilan", "Pahang", "Perak", "Perlis", "Pulau Pinang", "Sarawak", "Sabah", "Selangor", "Terengganu"])
gd
gd.to_csv('gd.csv', encoding='utf-8', index=True)

In [102]:
un = pd.read_csv('../data/Unemployment_Rate_by_state.csv', index_col=0)
un

                   Year   Unemployment Rate (Percentage)
State/Country
Johor              2015                               3.1
Kedah              2015                               2.6
Kelantan           2015                               3.6
Malaysia           2015                               3.1
Melaka             2015                               1.0
...                 ...                               ...
Selangor           2010                               3.2
Terengganu         2010                               3.7
W.P Labuan         2010                               6.0
W.P. Kuala Lumpur  2010                               3.1
W.P.Putrajaya      2010                               NaN

[102 rows x 2 columns]

In [103]:
un = un.drop(["W.P Labuan",'W.P.Putrajaya'], axis=0)
un = un.rename( index= {'W.P. Kuala Lumpur': 'Kuala Lumpur'} )
un.head(15)
#un.to_csv('un.csv', encoding='utf-8', index=True)

                 Year   Unemployment Rate (Percentage)
State/Country
Johor            2015                               3.1
Kedah            2015                               2.6
Kelantan         2015                               3.6
Malaysia         2015                               3.1
Melaka           2015                               1.0
Negeri Sembilan  2015                               3.1
Pahang           2015                               2.9
Perak            2015                               3.2
Perlis           2015                               2.9
Pulau Pinang     2015                               1.6
Sabah            2015                               5.0
Sarawak          2015                               3.5
Selangor         2015                               2.4
Terengganu       2015                               4.0
Kuala Lumpur     2015                               3.3